<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car1" class="exam.test08.Car">
        <constructor-arg value="Avante" />
        <constructor-arg>
            <bean class="exam.test08.Engine">
                <property name="maker" value="Hyundai" />
                <property name="cc" value="1495" />
            </bean>
        </constructor-arg>
    </bean>

    <bean id="car2" class="exam.test08.Car">
        <property name="model" value="Sonata" />
        <property name="engine">
            <bean class="exam.test08.Engine">
                <property name="maker" value="Hyundai" />
                <property name="cc" value="1997" />
            </bean>
        </property>
    </bean>
</beans>